@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

:root {
  --bg: #fff;
  --font-color: #000;
  --font-color-two: #fff;
  --bg-two: #80acff;
  --signs-bg: #ececec;
  --hover: #d6d6d6;
  --Panswer: rgba(10, 10, 10, .5);
  --shadow: rgba(10, 10, 10, .1);
  --dotsMenuBg: #fff;
  --dotsMenuFont: #000;
  --dotsMenuShadow: rgba(0, 0, 0, 0.3);
}

.dark {
  --bg: #000;
  --font-color: #fff;
  --font-color-two: #000;
  --bg-two: #5597ff;
  --signs-bg: #000;
  --hover: #9a9a9a;
  --Panswer: rgba(200, 200, 200, 1);
  --shadow: rgba(255, 255, 255, .2);
  --dotsMenuBg: rgba(200, 200, 200, 0.1);
  --dotsMenuFont: #fff;
  --dotsMenuShadow: rgba(255, 255, 255, .8);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  overflow-x: hidden;
}

/* info tab */
.info__tab__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 5;
  transition: all .3s;
  color: var(--font-color);
}

.info__tab__container.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.info__tab {
  background: var(--bg);
  flex-direction: column;
  margin: 0 2rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  box-shadow: .2rem .2rem 1rem 0 var(--dotsMenuShadow);
}

.info__tab>p {
  margin: .5rem 1rem;
  padding: 0;
}

.dot_menu {
  position: fixed;
  top: 1%;
  left: 4%;
  font-family: 'Arial Narrow Bold', sans-serif;
}

.dot_menu span {
  transform: rotate(90deg);
  font-weight: bolder;
  font-size: 1.5rem;
  display: inline-block;
  user-select: none;
  color: var(--font-color);
}

.dot_menu .dot_menu_items {
  font-size: 1rem;
  background: var(--dotsMenuBg);
  color: var(--dotsMenuFont);
  user-select: none;
  padding: 1rem 1.5rem;
  margin-left: .2rem;
  border-radius: 0 .7rem .7rem .7rem;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: height 500ms ease-in-out, opacity 300ms ease-in-out;
  box-shadow: 1px 0px 5px 0px var(--dotsMenuShadow);
}

.dot_menu_items.active {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.dot_menu_items p {
  font-size: 1rem;
  padding-block: .5rem;
}

main {
  display: grid;
  grid-template-rows: min-content 1fr;
}

main button:not(.disbaled),
main button[data-btn]:hover::after,
main button[data-btn]:focus::after,
main button[data-sign]:hover::after,
main button[data-sign]:focus::after,
main button[data-btn]:hover::before,
main button[data-btn]:focus::before,
main button[data-sign]:hover::before,
main button[data-sign]:focus::before,
.openBtn,
form,
.input_container,
.info__tab__container,
.info__tab {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  background: rgba(10, 10, 10, .3);
  transition: 200ms ease-in-out, opacity 200ms ease-in-out;
}

form.open {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

form p {
  color: var(--font-color-two);
  font-size: clamp(2rem, 2vw, 3rem);
}

.input_container {
  flex-direction: column;
}

.input_container input {
  font-size: clamp(1rem, 3vw, 2rem);
  padding: 0.5rem;
  outline: none;
  margin-bottom: 1rem;
}

.input_container button {
  font-size: 1rem;
  padding: .5rem 1rem;
}

.result_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.previousAnswer,
.currentAnswer {
  min-height: 6rem;
  word-break: break-all;
  word-wrap: break-word;
  width: 100%;
  text-align: right;
  padding-right: 1rem;
  font-family: 'Caveat', cursive;
}

.previousAnswer {
  color: var(--Panswer);
  font-size: clamp(2rem, 3vw, 3rem);
  margin-top: 3rem;
}

.currentAnswer {
  color: var(--font-color);
  font-size: clamp(3rem, 3vw, 4rem);
}

main .btn_container {
  align-self: end;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.2rem;
  height: 25rem;
}

.btn_container button:not(.equal) {
  color: var(--font-color);
}

.btn_container button:not(.equal, .operators) {
  background-color: var(--bg);
  font-size: 2rem;
}

.btn_container button:not(.disabled) {
  position: relative;
  overflow: hidden;
  user-select: none;
  border-radius: 10px;
  transition: 500ms ease-in-out;
  font-family: 'Caveat', cursive;
  box-shadow: inset 1px 1px 1px var(--shadow);
}

.btn_container button[data-btn]:hover::before,
.btn_container button[data-btn]:focus::before,
.btn_container button[data-sign]:hover::before,
.btn_container button[data-sign]:focus::before {
  content: "";
  position: absolute;
  /* top: ; */
  height: 10rem;
  width: 50rem;
  overflow: hidden;
  background: conic-gradient(var(--bg-two) 25deg, var(--bg) 120deg);
  animation: border 1s 2 linear;
}

@keyframes border {
  100% {
    transform: rotate(-360deg);
  }
}

.btn_container button[data-btn]:hover::after,
.btn_container button[data-btn]:focus::after,
.btn_container button[data-sign]:hover::after,
.btn_container button[data-sign]:focus::after {
  position: absolute;
  content: attr(data-btn);
  background: var(--bg);
  height: 95%;
  width: 95%;
  margin: 0.1rem;
  border-radius: 10px;
}

.btn_container button[data-sign]:hover::after,
.btn_container button[data-sign]:focus::after {
  content: attr(data-sign);
  background: var(--signs-bg);
}

.operators,
.equal,
.btn_container button:not(.equal, .operators),
.scientific-operators-container button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.btn_container button .disabled {
  display: none;
  pointer-events: none;
}

.operators {
  background: var(--signs-bg);
  font-size: clamp(2rem, 3vw, 2.5rem);
}

.equal {
  background: var(--bg-two);
  color: #fff;
  font-size: clamp(3rem, 3vw, 3.5rem);
}

/*to open scientific tab*/
.openBtn {
  position: fixed;
  top: 65%;
  right: 0;
  width: 1.5rem;
  height: 6rem;
  font-size: 4rem;
  background: var(--bg-two);
  color: var(--font-color-two);
  border-radius: 2rem 0 0 2rem;
  transition: transform 300ms ease-in-out;
}

.scientific-tab {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(55, 55, 55, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transform: translateX(100vw);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 300ms ease-in-out,
    visibility 300ms ease-in-out;
}

.scientific-operators-container {
  background: var(--bg-two);
  width: 80%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}

.scientific-operators-container button {
  padding: .5rem;
  font-size: clamp(1.5rem, 3vw, 2rem);
  border: 0.5px solid var(--bg);
  color: var(--font-color-two);
}

.open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.move {
  transform: translateX(-80vw);
  z-index: 3;
}

.scientific-operators-container button:first-child,
.scientific-operators-container button:nth-child(4),
.scientific-operators-container button:nth-child(7),
.scientific-operators-container button:nth-child(10) {
  border-left: none;
}

.scientific-operators-container button:nth-child(3),
.scientific-operators-container button:nth-child(6),
.scientific-operators-container button:nth-child(9),
.scientific-operators-container button:nth-child(12) {
  border-right: none;
}

.scientific-operators-container button:nth-child(1),
.scientific-operators-container button:nth-child(2),
.scientific-operators-container button:nth-child(3) {
  border-top: none;
}

.scientific-operators-container button:nth-child(10),
.scientific-operators-container button:nth-child(11),
.scientific-operators-container button:nth-child(12) {
  border-bottom: none;
}

@media screen and (min-width: 64em) {
  main {
    min-height: 100vh
  }
}