@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

:root {
  --bg: #fff;
  --font-color: #000;
  --font-color-two: #fff;
  --bg-two: #80acff;
  --signs-bg: #ececec;
  --hover: #d6d6d6;
  --Panswer: rgba(10, 10, 10, .5);
}

.dark {
  --bg: #000;
  --font-color: #fff;
  --font-color-two: #000;
  --bg-two: #5597ff;
  --signs-bg: #000;
  --hover: #9a9a9a;
  --Panswer: rgba(200, 200, 200, 1);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
}

body {
  background: var(--bg);
  overflow-x: hidden;
}

.main {
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

.main button:not(.equal) {
  color: var(--font-color);
}

.main button {
  user-select: none;
  webkit-user-select: none;
  transition: 200ms ease-in-out;
  font-size: clamp(2.5rem, 3vw, 2rem);
}

.main button:not(.equal, .sign) {
  background: var(--bg);
  width: 5rem;
  min-height: 8vh;
  max-height: 10vh;
  outline: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.sign {
  background: var(--signs-bg);
  width: 20vw;
  min-height: 10vh;
  outline: none;
  border: none;
  font-size: 6vw;
  cursor: pointer;
}

.main button:hover:not(#disabled, .equal) {
  background: var(--hover);
}

.equal {
  background: var(--bg-two);
  color: #fff;
  outline: none;
  border: none;
  font-size: clamp(3rem, 3vw, 3.5rem);
}

.equal:hover {
  background: #d5dfff;
}

.answer {
  grid-column: 1 / -1;
  border-bottom: 1px solid var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding-right: 3vw;
}

.previousAnswer {
  color: var(--Panswer);
  font-size: 6vw;
}

.currentAnswer {
  color: var(--font-color);
  font-size: 10vw;
  word-break: break-all;
  word-wrap: break-word;
}

.openBtn_container {
  position: relative;
}

/*to open scientific tab*/
.openBtn {
  background: var(--bg-two);
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 2rem 0 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color-two);
  transition: transform 300ms ease-in-out;
}

.scientific-tab {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(55, 55, 55, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: translateX(100vw);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 300ms ease-in-out,
    visibility 300ms ease-in-out;
}

.show {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.w {
  transform: translateX(-80vw);
  z-index: 3;
}

.scientific-operators-container {
  background: var(--bg-two);
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}

.scientific-operators-container button {
  padding: 1rem;
  font-size: clamp(2rem, 3vw, 2rem);
  background: none;
  outline: none;
  border: 0.5px solid var(--bg);
  color: var(--font-color-two);
}


.scientific-operators-container button:first-child,.scientific-operators-container button:nth-child(4), .scientific-operators-container button:nth-child(7), .scientific-operators-container button:nth-child(10)
{
  border-left: none;
}

.scientific-operators-container button:nth-child(3),.scientific-operators-container button:nth-child(6), .scientific-operators-container button:nth-child(9), .scientific-operators-container button:nth-child(12)
{
  border-right: none;
}

.scientific-operators-container button:nth-child(1),.scientific-operators-container button:nth-child(2), .scientific-operators-container button:nth-child(3) {
  border-top:none;
}

.scientific-operators-container button:nth-child(10),.scientific-operators-container button:nth-child(11), .scientific-operators-container button:nth-child(12) {
  border-bottom:none;
}
